<div class="chatContainer">
    <header>
        <h3 class="username"></h3>
    </header>
    <main>
        <div class="chatMessage"></div>
        <div class="typingContainer">
            <p class="typing"></p>
        </div>
    </main>
    <footer>
        <input type="text" placeholder="Blah, blah, blah... type away!" id="inputMessage" />
        <button id="btnMessage">Send</button>
    </footer>
</div>
